html[data-theme='dark'] {
	/* foreground   | background color */
	--cfg:   #ccccdc; --cbg:    #111217;
	--cdark: #999;    --clight: #333;
	--cmed:  #566;
	--clink: #1ad;
	--cemph: #0b9;    --cemphbg: #0b91;
}

.panel {
    background-color: #181b1f;
    border: 1px solid #ccccdc12;
    margin-bottom: 1rem;
}

#top-10-table {
    font-size: 0.8em;
}

.top-10-table-container > h4 {
    margin-top: 0.2em;
}

.header {
    margin-bottom: 0.5rem;
}

/* center the table instead of left-aligning */
#recent-games-table {
    display: table;
    margin: auto;
    width: 0;
}

main {
    margin-bottom: 5rem;
}

body > nav {
    box-shadow: none;
}

table td, table th {
    padding: 0.2em 0.4em;
}

/* uPlot title */
.u-title {
    font-size: 14px;
}

.u-title > .title-subtext {
    font-weight: 400;
    color: #ccccdc90;
}
